:root {
    --primary-font:'quicksand';
    --primary-subtitle:'Montserrat'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:  #f1f1f1;
}
.container {
    margin: 0 auto;
    max-width: 1300vh;
}
.sidebar {
    max-width: 800px;
    background-color:white;
    position: fixed;
    min-height: 100%;
    overflow: auto;
}

.sidebar a {
    font-family: var(--primary-font);
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
 
.sidebar a.active {
    background-color: #b8bebe;
    color: #666868;
    border-radius: 8px;
}

.sidebar a:hover {
    text-decoration: underline ;
}
.sidebar h6 {
    max-width: 200px;
    min-height: 50px;
    background: linear-gradient(to right, blue,green);
    color: white;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}
.menu-items h3 {
    display: flex;
    align-content: center;
    align-items: center;
    font-family:var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}
.menu-items ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    gap: 19px;
}
.grid {
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 1em;
}
.grid > div {
    background-color: white;
    border-radius: 13px;
    padding: 20px;
}
.grid > div:nth-child(1) {
    min-height: 100%;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid > div:nth-child(2) {
    padding: 1px 16px;
    min-height: 40px;
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid > div:nth-child(3) {
    background-image: url(./assets/catimg.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: rgba(20, 161, 95, 1); 
    color: white;
    font-family: var(--primary-font);
    background-size:120px 120px ;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.grid > div:nth-child(4) {
    background-image: url(./assets/dogimg.svg);
    background-color: blue;
    color: white;
    font-family: var(--primary-font);
    background-repeat: no-repeat;
    background-size:120px 120px ;
    background-position: right bottom; 
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}
.grid > div figure p {
    color: black;
}
.grid > div figure h4 {
    font-size: 30px;
    font-weight: 500;

}
.grid > div:nth-child(5) {
    background: rgba(20, 161, 95, 1);
    color: white;
    font-family: var(--primary-font);
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
}
.grid > div:nth-child(6) {
    background: rgba(239, 255, 248, 1);
    font-family: var(--primary-font);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}
.count  {
    font-family: var(--primary-font);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.count > div:nth-child(1) img{
    padding: 4px 4px;
    border-radius: 7px;
    background: rgba(252, 234, 234, 1);
}
.count > div:nth-child(2) img{
    padding: 4px 4px;
    border-radius: 7px;
    background-color: rgba(224, 249, 252, 1);
}
.count > div:nth-child(3) img{
    padding: 4px 4px;
    border-radius: 7px;
    background: rgba(238, 236, 253, 1);
}
.count h5 {
    font-size: 40px;
    font-weight: 500;
}
.count > div {
    border-radius: 10px;
    font-size: 20px;
    border: 3px white;
    box-shadow: 3px 3px 9px rgba(153, 150, 150, 0.3);
    padding: 20px;
    background-color: white;
    width: 200px; 
    /* can't set maxwidth */
    min-height: 70px;
}
.count > div figure {
    display: flex;
}
.active-bar {
    min-height: 5px;
    background: rgba(252, 234, 234, 1);
    border-radius: 30px;
}
.active-status {
    min-height: 5px;
    max-width: 75%;
    border-radius: 20px;
    background: red;
}
.pending-bar {
    min-height: 5px;
    background: rgba(226, 226, 226, 1);
    border-radius: 30px;
}
.pending-status {
    min-height: 5px;
    max-width: 75%;
    border-radius: 20px;
    background: rgba(79, 236, 255, 1);
}
.complete-bar {
    min-height: 5px;
    background: rgba(211, 211, 211, 1);
    border-radius: 30px;
}
.complete-status {
    min-height: 5px;
    max-width: 75%;
    border-radius: 20px;
    background: rgba(131, 115, 255, 1);
}
.grid > div:nth-child(7) {
    background: rgba(194, 215, 255, 1);
    font-family: var(--primary-font);
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
}
.revenue {
    border-radius: 10px;
    font-family: var(--primary-font);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.revenue > div {
    border-radius: 10px;
    font-size: 20px;
    border: 3px white;
    box-shadow: 3px 3px 9px rgba(153, 150, 150, 0.3);
    padding: 20px;
    background-color: white;
    /* can't set maxwidth */
}
.revenue > div span {
    font-size: 10px;
    font-weight: 600;
    max-width:100px ;
}
.revenue  > div figure {
    display: flex;
    gap: 10px;
}
.revenue > div:nth-child(1) img{
    padding: 4px 4px;
    border-radius: 7px;
    background: rgba(252, 234, 234, 1);
}
.revenue > div:nth-child(1) h5{
    color: rgba(255, 119, 119, 1);
}
.revenue > div:nth-child(2) img{
    padding: 4px 4px;
    border-radius: 7px;
    background-color: rgba(224, 249, 252, 1);
}
.revenue > div:nth-child(2) h5{
    color: rgba(58, 234, 255, 1);
}
.revenue > div:nth-child(3) img{
    padding: 4px 4px;
    border-radius: 7px;
    background: rgba(238, 236, 253, 1);
}
.revenue > div:nth-child(3) h5{
    color: rgba(117, 99, 255, 1);
}
.rev h5 {
    font-size: 40px;
    font-weight: 500;
}
.grid > div:nth-child(8) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 10;
}
.grid > div:nth-child(9) {
    grid-column-start:6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 10;
}
.grid > div:nth-child(10) {
    background-image: url(./assets/graph.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 12;
}
.grid > div:nth-child(10) h5 {
    color: green;
    font-family:var(--primary-subtitle);
}
.grid > div:nth-child(10) span {
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.grid > div:nth-child(11) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 12;
}
.grid > div:nth-child(12) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 12;
}